@use '../../variables' as *;

/** Color Translate Page */
.color-translate {
  height: $space-80vh;
  .color-translate-form {
    width: $space-300;
  }
  .upload-drag-files {
    width: $space-400;
    .image-preview {
      width: $space-300;
      height: $space-200;
    }
    .el-icon--upload {
      height: $space-120;
      .el-upload__text {
        width: $space-400;
      }
    }
  }
}