/** Main Intro Banner */
.main-intro {
  position: relative;
  height: fit-content;
  .main-title, .main-text, .sub-text, .scroll-down {
    position: absolute;
    z-index: 10;
  }
  .main-title {
    position: absolute;
    width: $space-600;
    top: $space-300;
    right: $space--150;
    font-size: 6em;
    line-height: $space-90;
    font-weight: 800;
    text-align: left;
    transform: rotateZ(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    z-index: 10;
    opacity: 0;
    transition: opacity .75s;
  }
  .main-title-on {
    opacity: 1;
  }
  .main-text {
    position: absolute;
    top: $space-500;
    left: 5%;
    width: fit-content;
    height: $space-80;
    padding: $space-20;
    @include headline4;
    text-align: left;
    background-color: var(--d-content-bg-color);
    z-index: 10;
    opacity: 0;
    transition: opacity .75s;
    p {
      @include unset-margin;
    }
    .sub-text {
      @include headline6;
    }
  }
  .main-text-on {
    opacity: 1;
  }
  .scroll-down {
    position: absolute;
    width: $space-10vw;
    top: $space-percent-105;
    @include headline6;
    z-index: 10;
    opacity: 0;
    transition: opacity .75s;
    animation: motion .5s ease-in .5s infinite alternate;
    @keyframes motion {
      0% { margin-top: 0; }
      100% { margin-top: $space-default; }
    }
  }
  .main-scroll-on {
    opacity: 1;
  }
  .main-image {
    height: auto;
    max-height: $space-740;
    width: $space-100vw;
  }
}