/** Main Intro Banner */
.main-intro {
  .main-title {
    width: $space-600;
    top: $space-300;
    right: $space-minus-150;
    font-size: 6em;
    line-height: $space-90;
  }
  .main-text {
    top: $space-550;
    left: 5%;
    width: fit-content;
    height: $space-80;
    @include headline4;
    background-color: var(--d-content-bg-color);
    .sub-text {
      @include headline6;
    }
  }
}