/** Main Intro Banner */
.main-intro {
  position: relative;
  height: fit-content;
  .main-title, .main-text, .sub-text, .scroll-down {
    position: absolute;
    z-index: 10;
  }
  .main-title {
    position: absolute;
    width: 600px;
    top: 300px;
    right: -100px;
    font-size: 6em;
    line-height: $space-90;
    font-weight: 800;
    text-align: left;
    transform: rotateZ(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    z-index: 10;
    transition: opacity .75s;
  }
  .main-title-off {
    opacity: 0;
  }
  .main-text {
    position: absolute;
    top: $space-500;
    left: 5%;
    width: fit-content;
    height: $space-80;
    padding: $space-20;
    @include headline4;
    text-align: left;
    background-color: var(--d-content-bg-color);
    z-index: 10;
    opacity: 1;
    transition: opacity .75s;
    p {
      @include unset-margin;
    }
    .sub-text {
      @include headline6;
    }
  }
  .main-text-off {
    opacity: 0;
  }
  .scroll-down {
    position: absolute;
    width: 10vw;
    top: 95%;
    left: 50%;
    transform: translateY(-50%), translateX(-50%);
    font-size: 14px;
    font-weight: 400;
    color: #fcfcfc;
    z-index: 10;
    transition: opacity .75s;
    animation: motion .5s ease-in .5s infinite alternate;
    @keyframes motion {
      0% { margin-top: 0; }
      100% { margin-top: $space-default; }
    }
  }
  .main-scroll-off {
    opacity: 0;
  }
  .main-image {
    height: auto;
    max-height: $space-740;
    width: $space-100vw;
  }
}