/** References */
.main-references {
  .section-title {
    margin-left: $space-150;
  }
  .section-text {
    margin: $space-default 0 $space-default $space-150;
  }
  .references-list {
    .reference-item {
      .reference-thumb {
        width: $space-200;
        height: $space-200;
      }
      .reference-text {
        @include headline6;
      }
    }
  }
}