/** Main Skills */
.main-skills {
  .skills-descriptions {
    .skills-text {
      margin-right: $space-68;
      @include headline6;
        text-align: right;
      &:nth-child(1),
      &:nth-child(2) {
        @include headline3;
        text-align: right;
      }
    }
    .skills-title-box {
      top: $space-minus-50;
      right: 0;
      width: $space-425;
      height: $space-425; 
    }
  }
  .skill-list {
    .skills-text {
      @include headline5;
    }
    .frontend-list,
    .backend-list,
    .tools-list {
      width: fit-content;
      height: fit-content;
      padding: $space-30;
    }
  }
}
