/** Blog Lists Page */
.blog-lists {
  position: relative;
  height: $space-80vh;
  width: $space-100vw;
  .write-button-container {
    margin-top: $space-100;
    margin-left: unset;
    width: $space-80vw;
    overflow-y: auto;
  }
  .blog-timeline {
    height: 60vh;
    width: $space-80vw;
    padding-left: unset;
    scrollbar-width: none;
    ::-webkit-scrollbar {
      display: none;
    }
    .blog-card {
      cursor: pointer;
      .card-header {
        flex-direction: column;
        align-items: flex-start;
        .title {
          @include headline4;
        }
        .like {
          margin-top: $space-16;
          margin-left: unset;
        }
      }
      .desc {
        @include headline6;
      }
    }
  }
}
