@use '../../variables' as *;

/** Blog Article */
.blog-article {
  .article-header {
    flex-direction: column;
    .time {
      margin-top: $space-default;
    }
  }
  .article-create-comment .create-form .el-form-item__content .el-input--suffix {
    width: $space-30vw;
  }
}