/** Archives Page */
.main-archives-title {
  top: $space-120;
  left: $space-20;
  @include headline3;
}

.prev-button {
  top: $space-100;
  left: $space-10vw;
}

.main-slider-section {
  .carousel {
    height: $space-percent-100;
  }
  .image-component {
    .image {
      width: $space-50vw;
      height: $space-50vw;
    }
    .text-group {
      .title {
        @include headline5;
        text-align: right;
      }
      .subtitle {
        @include headline5;
        text-align: right;
      }
    }
  }
}