@use '../../variables' as *;

/** Main Intro Banner */
.main-intro {
  .main-title {
    width: $space-200;
    top: $space-130;
    right: $space-minus-50;
    font-size: 2em;
  }
  .main-text {
    top: $space-100vw;
    width: $space-percent-80;
    margin-top: $space-50;
    @include headline7;
    background-color: unset;
    .sub-text {
      @include headline7;
      margin-top: $space-default;
    }
  }
  .scroll-down {
    top: $space-70vh;
    @include headline7;
  }
  .main-banner {
    .banner {
      width: auto;
      height: $space-100vw;
    }
  }
}