/** References */
.main-references {
  .section-text {
    margin: $space-default 0 $space-default;
  }
  .references-list {
    margin: 0 $space-default;
    .reference-item {
      .reference-thumb {
        width: $space-200;
        height: $space-200;
      }
      .reference-text {
        margin-top: $space-default;
        @include headline5;
      }
    }
  }
}