/** Main Resume */
.main-resume {
  position: relative;
  max-width: $space-1200;
  width: 90vw;
  height: fit-content;
  margin: $space-360 auto $space-200;
  transition: opacity .9s;
  opacity: 0;
  .resume-container {
    flex-direction: column;
    align-items: center;
    width: $space-percent-100;
    height: fit-content;
    padding: $space-20 0;
    border-radius: $space-30;
    background-color: var(--d-bg-blue-color);
    .resume-image {
      width: $space-percent-80;
      text-align: center;
      margin: $space-20 auto;
      img {
        width: $space-percent-80;
        height: auto;
        border-radius: $space-percent-50;
      }
    }
    .resume-texts {
      width: $space-percent-80;
      p { @include unset-margin; }
      .title-container {
        width: fit-content;
        padding-bottom: $space-4;
        border-bottom:  $space-2 double var(--d-text-color);
        .title {
          @include headline3;
          margin-bottom: $space-default;
          text-align: left;
        }
        .educate {
          @include headline5;
          text-align: left;
        }
      }
      .career-container {
        @include headline6;
        text-align: left;
        .career-title {
          font-weight: 700;
        }
        .career-desc {
          margin-left: $space-20;
        }
      }
    }
  }
}
.main-resume-on {
  opacity: 1;
}