/**
* ! Pretendard Font Family!
*/
@font-face {
  font-family: Pretendard;
  src: local('~/assets/fonts/Pretendard-Thin.otf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Pretendard;
  src: local('~/assets/fonts/Pretendard-ExtraLight.otf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Pretendard;
  src: local('~/assets/fonts/Pretendard-Light.otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Pretendard;
  src: local('~/assets/fonts/Pretendard-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Pretendard;
  src: local('~/assets/fonts/Pretendard-Medium.otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Pretendard;
  src: local('~/assets/fonts/Pretendard-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Pretendard;
  src: local('~/assets/fonts/Pretendard-Bold.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Pretendard;
  src: local('~/assets/fonts/Pretendard-ExtraBold.otf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Pretendard;
  src: local('~/assets/fonts/Pretendard-Black.otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: DungGeunMo;
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: KOTRAHOPE;
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EliceDigitalBaeum_Bold';
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Shilla_CultureB-Bold';
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}