@use '../variables' as *;

/** Init Element Ui Style */

.el-button:focus-visible {
  outline: unset;
  outline-offset: unset;
}

/** el-backtop */
.el-backtop {
  width: $space-50;
  height: $space-50;
  color: var(--d-bg-main-color);
  background-color: var(--d-green-color);
  transition: all 0.2s ease-in-out;
  appearance: none;
  cursor: pointer;
  z-index: 100;
}

.el-backtop:hover {
  background-color: var(--d-green-color-deep);
}

/** el-notification */
.el-notification {
  width: fit-content;
  .el-notification__group {
    padding: 0 $space-20;
  }
}

/** el-form */
.el-input-group__append,
.el-input-group__append .el-button:hover {
  border-radius: 0 $space-4 $space-4 0;
}

.el-input__wrapper.is-focus,
.el-input__wrapper.is-hover,
.el-input-group__append:hover,
.el-textarea__inner:focus{
  box-shadow: 0 0 0 $space-1 var(--d-green-color) !important;
}
.el-form-item.is-error {
  .el-input__wrapper,
  .el-textarea__inner {
    box-shadow: 0 0 0 $space-1 var(--d-red-color) !important;
  }
  .el-form-item__error,
  .el-textarea__inner {
    color: var(--d-red-color);
  }
}

.el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label-wrap > .el-form-item__label::before,
.el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label::before {
  color: var(--d-red-color);
}

.el-button:focus,
.el-button:hover {
  color: var(--d-bg-main-color);
  border-color: var(--d-blue-color) !important;
  background-color: var(--d-blue-color-deep) !important;
}