/* Size Lists */

/* Device */
$breakpoint-desktop: 800px;

/* Space */
$space-unset: unset;
$space-fit-content: fit-content;
$space-1: 1px;
$space-5: 5px;
$space-8: 8px;
$space-default: 10px;
$space-12: 12px;
$space-15: 15px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-26: 26px;
$space-28: 28px;
$space-30: 30px;
$space-40: 40px;
$space-60: 60px;
$space-66: 66px;
$space-100: 100px;
$space-120: 120px;
$space-160: 160px;
$space-200: 200px;
$space-240: 240px;
$space-290: 290px;
$space-300: 300px;
$space-360: 360px;
$space-400: 400px;

$space-50vh: 50vh;
$space-100vh: 100vh;
$space-50vw: 50vw;
$space-100vw: 100vw;

$space-percent-50: 50%;
$space-percent-100: 100%;
