/* Size Lists */

/* Device */
$breakpoint-mobile: 500px;
$breakpoint-desktop: 1000px;

/* Space */
$space-unset: unset;
$space-fit-content: fit-content;

$space--50: -50px;
$space--70: -70px;
$space--100: -100px;
$space--130: -130px;
$space--150: -150px;
$space--170: -170px;
$space--200: -200px;
$space--250: -250px;
$space--400: -400px;
$space--430: -430px;
$space--450: -450px;

$space-0: 0px;
$space-1: 1px;
$space-2: 2px;
$space-4: 4px;
$space-5: 5px;
$space-6: 6px;
$space-8: 8px;
$space-default: 10px;
$space-12: 12px;
$space-15: 15px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-26: 26px;
$space-28: 28px;
$space-30: 30px;
$space-36: 36px;
$space-40: 40px;
$space-48: 48px;
$space-50: 50px;
$space-60: 60px;
$space-68: 68px;
$space-80: 80px;
$space-90: 90px;
$space-100: 100px;
$space-120: 120px;
$space-150: 150px;
$space-160: 160px;
$space-180: 180px;
$space-200: 200px;
$space-220: 220px;
$space-240: 240px;
$space-250: 250px;
$space-290: 290px;
$space-300: 300px;
$space-360: 360px;
$space-400: 400px;
$space-425: 425px;
$space-450: 450px;
$space-480: 480px;
$space-500: 500px;
$space-550: 550px;
$space-600: 600px;
$space-650: 650px;
$space-740: 740px;
$space-800: 800px;
$space-900: 900px;
$space-1000: 1000px;
$space-1100: 1100px;
$space-1200: 1200px;
$space-1600: 1600px;

$space-20vh: 20vh;
$space-30vh: 30vh;
$space-40vh: 40vh;
$space-50vh: 50vh;
$space-60vh: 60vh;
$space-100vh: 100vh;
$space-10vw: 10vw;
$space-20vw: 20vw;
$space-30vw: 30vw;
$space-50vw: 50vw;
$space-70vw: 70vw;
$space-80vw: 80vw;
$space-90vw: 90vw;
$space-100vw: 100vw;

$space-percent-40: 40%;
$space-percent-50: 50%;
$space-percent-60: 60%;
$space-percent-75: 75%;
$space-percent-80: 80%;
$space-percent-90: 90%;
$space-percent-100: 100%;

/* Opacity */
:root {
  --d-bg-opacity-01: .1;
  --d-bg-opacity-02: .25;
  --d-bg-opacity-03: .4;
}

html.dark {
  --d-bg-opacity-01: .9;
  --d-bg-opacity-02: .75;
  --d-bg-opacity-03: .6;
}