@use '../basic/size_list.scss' as *;
@use '../basic/color_list.scss' as *;

/* Style Class Lists */

/* Text */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.word-break-keep { word-break: keep-all; }

/* Layouts */
.m-auto { margin: auto; }
.mx-auto { margin-left: auto; margin-right: auto; }
.mx-default { margin-left: $space-default; margin-right: $space-default; }
.mx-20 { margin-left: $space-20; margin-right: $space-20; }
.mx-80 { margin-left: $space-80; margin-right: $space-80; }

.mt-5 { margin-top: $space-5; }
.mb-5 { margin-bottom: $space-5; }
.ml-5 { margin-left: $space-5; }
.mr-5 { margin-right: $space-5; }

.mt-8 { margin-top: $space-8; }
.mb-8 { margin-bottom: $space-8; }
.ml-8 { margin-left: $space-8; }
.mr-8 { margin-right: $space-8; }

.m-default { margin: $space-default; }
.mt-default { margin-top: $space-default; }
.mb-default { margin-bottom: $space-default; }
.ml-default { margin-left: $space-default; }
.mr-default { margin-right: $space-default; }

.mt-20 { margin-top: $space-20; }
.mb-20 { margin-bottom: $space-20; }
.ml-20 { margin-left: $space-20; }
.mr-20 { margin-right: $space-20; }

.mt-40 { margin-top: $space-40; }
.mb-40 { margin-bottom: $space-40; }
.ml-40 { margin-left: $space-40; }
.mr-40 { margin-right: $space-40; }

.mt-30 { margin-top: $space-30; }

/* Displays */
.flex { display: flex !important; }
.flex-auto { flex: auto; }
.inline-flex { display: inline-flex; }
.inline-block { display: inline-block; }

.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.flex-no-wrap { flex-wrap: nowrap; }

.flex-justify-start { justify-content: flex-start; }
.flex-justify-center { justify-content: center; }
.flex-justify-end { justify-content: flex-end; }
.flex-space-between { justify-content: space-between; }
.flex-space-around { justify-content:  space-around; }
.flex-space-evenly { justify-content: space-evenly; }
.flex-align-start { align-items: flex-start; }
.flex-align-center { align-items: center; }
.flex-align-end { align-items: flex-end; }
.flex-align-stretch { align-items: stretch; }
.flex-baseline { align-items: baseline; }

.abs-middle {
  position: absolute;
  top: $space-percent-50;
  left: $space-percent-50;
  transform: translate(-$space-percent-50, -$space-percent-50);
}

/* Color & Features */
.w-full { width: $space-percent-100; }
.w-half { width: $space-percent-50; }
.h-full { height: $space-percent-100; }
.size-full { width: $space-percent-100; height: $space-percent-100; }

/* Reset Style */
@mixin unset-color { color: unset; }
@mixin unset-padding { padding: $space-unset; }
@mixin unset-margin { margin: $space-unset; }
@mixin unset-border { border: unset; }
@mixin unset-bg-color { background-color: unset; }
@mixin unset-box-shadow { box-shadow: unset; }
@mixin hidden-overflow { overflow: hidden; }

/* Reuse Style */
@mixin skills {
  position: absolute;
  width: $space-100;
  opacity: var(--d-bg-opacity-01);
}

@mixin tiptap-template {
  p {
    line-height: 1.7rem;
  }
  ul, ol {
    padding: 0 1rem;
  }
  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;
    p {
      margin: 0;
    }
    li {
      display: flex;
      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }
      > div {
        flex: 1 1 auto;
      }
    }
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
  }
  code {
    background-color: $d-bg-sub-origin-dark;
    color: $d-bg-sub-origin-dark;
  }
  pre {
    background: $d-bg-origin-dark;
    color: $d-bg-origin-light;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
    .hljs-comment,
    .hljs-quote {
      color: $d-footer-color-dark-deep;
    }
    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: $d-color-01-dark;
    }
    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: $d-color-02-light-deep;
    }
    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: $d-color-07-light-deep;
    }
    .hljs-title,
    .hljs-section {
      color: $d-color-15-light-deep;
    }
    .hljs-keyword,
    .hljs-selector-tag {
      color: $d-color-12-light-deep;
    }
    .hljs-emphasis {
      font-style: italic;
    }
    .hljs-strong {
      font-weight: 700;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  blockquote {
    padding-left: $space-8;
    border-left: $space-4 solid var(--d-text-color);
  }
  hr {
    border: none;
    border-top: $space-2 solid var(--d-text-color);
    margin: 2rem 0;
  }
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: $space-percent-50;
    margin: 0;
    overflow: hidden;
    td,
    th {
      min-width: 1em;
      border: 2px solid var(--el-border-color);
      padding: 3px 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;
      > * {
        margin-bottom: 0;
      }
    }
    th {
      font-weight: bold;
      text-align: left;
      background-color: #f1f3f5;
    }
    .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: "";
      left: 0; right: 0; top: 0; bottom: 0;
      background: var(--el-menu-hover-border-color);
      pointer-events: none;
    }
    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: var(--el-menu-active-color);
      pointer-events: none;
    }
    p {
      margin: 0;
    }
  }
  p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
  }
}