/** Main Intro Banner */
.main-intro {
  .main-title {
    width: $space-360;
    top: $space-180;
    right: $space--100;
    font-size: 3.5em;
  }
  .main-text {
    top: calc($space-60vw + $space-80 );
    width: fit-content;
    height: $space-80;
    @include headline6;
    .sub-text {
      @include headline7;
    }
  }
  .main-banner {
    img {
      width: auto;
      height: $space-100vw;
    }
  }
}