/** Main Intro Banner */
.main-intro {
  .main-title {
    width: $space-360;
    top: $space-180;
    right: $space--100;
    font-size: 3.5em;
  }
  .main-text {
    top: $space-90vw;
    width: fit-content;
    height: $space-80;
    @include headline6;
    background-color: unset;
    .sub-text {
      @include headline7;
    }
  }
}