/** Main Intro Banner */
.main-intro {
  position: relative;
  height: fit-content;
  .main-title, .main-text, .sub-text, .scroll-down {
    position: absolute;
    z-index: 10;
  }
  .main-title {
    position: absolute;
    width: $space-360;
    top: $space-180;
    right: $space--100;
    font-size: 3.5em;
    font-weight: 800;
    text-align: left;
    transform: rotateZ(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    z-index: 10;
    transition: opacity .75s;
  }
  .main-title-off {
    opacity: 0;
  }
  .main-text {
    position: absolute;
    top: $space-80vw;
    width: fit-content;
    height: $space-80;
    margin: $space-20;
    padding: $space-20;
    @include headline6;
    background-color: var(--d-content-bg-color);
    z-index: 10;
    opacity: 1;
    transition: opacity .75s;
    p {
      @include unset-margin;
    }
    .sub-text {
      @include headline6;
    }
  }
  .main-text-off {
    opacity: 0;
  }
  .scroll-down {
    position: absolute;
    width: fit-content;
    top: 90%;
    @include headline6;
    z-index: 10;
    transition: opacity .75s;
    animation: motion .5s ease-in .5s infinite alternate;
    @keyframes motion {
      0% { margin-top: 0; }
      100% { margin-top: $space-default; }
    }
  }
  .main-scroll-off {
    opacity: 0;
  }
  .main-image {
    height: auto;
    max-height: $space-740;
    width: $space-100vw;
  }
}