/** References */
.main-references {
  .section-text {
    margin: $space-default 0 $space-default;
  }
  .references-list {
    margin: 0 $space-default;
    .reference-item {
      .reference-thumb {
        width: $space-160;
        height: $space-160;
      }
      .reference-text {
        @include headline6;
      }
    }
  }
}