@use '../variables' as *;

/* Layouts */
.default-layout-container {
  position: relative;
  flex-direction: column;
  height: $space-percent-100;
  .header {
    position: fixed;
    width: $space-100vw;
    height: $space-80;
    align-items: center;
    background-color: var(--d-header-bg-color);
    filter: alpha(opacity=30);
    z-index: 100;
    .header-container {
      width: $space-1000;
      .logo {
        margin: $space-default $space-20;
        .dewdew-logo {
          width: $space-160;
          height: auto;
        }
      }
      .desktop-menu {
        .menu-links {
          @include headline4;
          color: var(--d-text-dark-color);
          text-decoration: none;
          transition: all .1s ease-in-out;
        }
        .menu-links:hover {
          scale: 1.1;
          color: var(--d-text-dark-color-deep);
        }
      }
      .github {
        cursor: pointer;
        img {
          width: $space-30;
          height: auto;
        }
      }
      .select-language {
        width: $space-80;
        border-radius: $space-8;
        background-color: var(--d-footer-bg-color);
        
        --el-select-border-color-hover: var(--d-footer-bg-color-deep);
        .select-trigger {
          .el-input {
            .el-input__wrapper {
              border-radius: $space-8;
            }
          }
        }
      }
      .dark-mode-switch {
        --el-switch-on-color: var(--d-footer-bg-color);
        --el-switch-off-color: var(--d-footer-bg-color);
      }
      .float-mobile-menu {
        position: fixed;
        bottom: $space-20vh;
        left: $space-30;
        padding: $space-5 0;
        opacity: .4;
        width: $space-50;
        height: $space-150;
        border-radius: $space-default;
        background-color: var(--d-bg-white-color);
        .mobile-menu-links {
          margin: $space-5 auto;
          @include headline3;
          color: var(--d-text-dark-color);
        }
      }
    }
  }
  .main {
    position: relative;
    height: $space-percent-100;
    overflow-x: hidden;
    @include unset-padding;
  }
  .footer {
    position: relative;
    height: fit-content;
    background-color: var(--d-footer-bg-color);
    .footer-section {
      height: $space-20vh;
      font-weight: 400;
      font-size: $space-16;
      .footer-menu-container {
        width: $space-300;
        .footer-links {
          @include headline6;
          text-decoration: unset;
          transition: all .1s ease-in-out;
        }
        .footer-links:hover {
          color: var(--d-red-color);
        }
      }
      .footer-sns-container {
        width: $space-160;
        .sns-links {
          transition: all .1s ease-in-out;
          width: $space-40;
          height: fit-content;
          margin: auto $space-8;
          img {
            width: $space-30;
            height: auto;
          }
        }
      }
      .copyright {
        @include headline7;
        text-align: center;
        word-break: keep-all;
      }
    }
  }
}

.pwa-toast {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 16px;
  padding: 12px;
  border: 1px solid #8885;
  border-radius: 4px;
  z-index: 1;
  text-align: left;
  box-shadow: 3px 4px 5px 0 #8885;
  .el-button {
    border: 1px solid #8885;
    outline: none;
    margin-right: 5px;
    border-radius: 2px;
    padding: 3px 10px;
  }
  .message {
    margin-bottom: 8px;
  }
}
