/* Layouts */
.default-layout-container {
  .header {
    height: $space-60;
    .header-container {
      .logo {
        .dewdew-logo {
          width: $space-100;
          height: auto;
        }
      }
      .github {
        img {
          width: $space-24;
          height: auto;
        }
      }
    }
  }
  .footer .footer-section {
    .footer-menu-container {
      width: $space-90vw;
    }
    .footer-sns-container {
      width: $space-80vw;
    }
  }
}
