/* Layouts */
.default-layout-container {
  .header {
    height: $space-60;
    .header-container {
      .mobile-menu {
        margin: 0 $space-default;
        border: unset;
        .el-sub-menu {
          .el-sub-menu__title {
            @include unset-padding;
          }
          .el-menu--inline {
            top: $space-48;
            right: 0;
            .el-menu-item {
              .menu-links {
                @include headline5;
              }
              &:hover {
                background-color: unset;
                .menu-links {
                  @include headline4;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer .footer-section {
    .footer-menu-container {
      width: $space-90vw;
    }
    .footer-sns-container {
      width: $space-80vw;
      .sns-links {
        width: $space-20;
      }
    }
  }
}
